:root{
	--wd-top-bar-h: 40px;
	--wd-top-bar-sm-h: 58px;
	--wd-top-bar-sticky-h: 40px;

	--wd-header-general-h: 105px;
	--wd-header-general-sm-h: 60px;
	--wd-header-general-sticky-h: 60px;

	--wd-header-bottom-h: 0.001px;
	--wd-header-bottom-sm-h: 0.001px;
	--wd-header-bottom-sticky-h: 0.001px;

	--wd-header-clone-h: 0.001px;
}

.whb-top-bar .wd-dropdown {
	margin-top: 0px;
}

.whb-top-bar .wd-dropdown:after {
	height: 10px;
}
.whb-sticked .whb-top-bar .wd-dropdown {
	margin-top: 0px;
}

.whb-sticked .whb-top-bar .wd-dropdown:after {
	height: 10px;
}

.whb-sticked .whb-general-header .wd-dropdown {
	margin-top: 10px;
}

.whb-sticked .whb-general-header .wd-dropdown:after {
	height: 20px;
}



@media (min-width: 1025px) {
		.whb-top-bar-inner {
		height: 40px;
		max-height: 40px;
	}

		.whb-sticked .whb-top-bar-inner {
		height: 40px;
		max-height: 40px;
	}
		
		.whb-general-header-inner {
		height: 105px;
		max-height: 105px;
	}

		.whb-sticked .whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
		
	
	
	}

@media (max-width: 1024px) {
		.whb-top-bar-inner {
		height: 58px;
		max-height: 58px;
	}
	
		.whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
	
	
	
	}
		
.whb-top-bar {
	background-color: rgba(241, 166, 147, 1);
}

.whb-general-header {
	background-color: rgba(255, 255, 255, 1);border-color: rgba(129, 129, 129, 0.11);border-bottom-width: 1px;border-bottom-style: solid;
}

.whb-header-bottom {
	border-bottom-width: 0px;border-bottom-style: solid;
}
