<!-- start Simple Custom CSS and JS -->
<style type="text/css">
ul.list-details-footer {
    display: none;
}

div#sliderJuernes {
    margin-top: -40px;
}

.iconic-wsb-checkout-bump__price span.woocommerce-Price-amount.amount:before{
	display: none !important
}

.btn-ingredientes-naturales-inicio {
    margin-left: 5vh;
}
.wd-side-hidden {
    z-index: 9999;
}
.wa__btn_popup {
    right: 20px;
    bottom: 80px;
}

div#colAddi {
    background: #6d6cfd;
    max-height: 80px;
}
div.title-col-addi {
    padding-top: 23px;
}

li.meta-author span.fn {
    font-size: 0;
}
li.meta-author span.fn:before {
    content: "Natural Conexion";
    font-size: 1rem;
}
.img-popup-suscrip {
    height: 350px;
}
.img-popup-suscrip img {
    height: 350px;
    width: 100%;
    object-fit: cover;
}


/* estilos modal subscribe */
.content-subscribe {
    text-align: center;
}
.content-subscribe h4.woodmart-title-container {
    font-size: 15px;
    font-weight: 400;
}

.banner-shop-natural{
  margin-top: -40px;
  margin-bottom: 40px;
}
#wd-623de5e6a6212 .wpb_single_image img{
  max-width: 140% !important;
}
.wpb_single_image img{
  max-width: 114% !important;
}

#wd-624216ad428b4 .woodmart-timeline-dot{
  background-color: #378030 !important;
}
.wrapp-category .hover-mask{
  display:none !important
}

.area-sidebar-shop .widget_categories{
  display:none !important
}
.sidebar-right.area-sidebar-1 #woocommerce_product_categories-2{
  display:none !important
}

.list-menu-footer {
	display: flex;
	justify-content: center;
	padding-top: 4rem;
}


/**************************  
	Estilos para movil  
***************************/
@media (max-width: 767.98px) { 
	  .title-landing h4 {
		font-size: 1.1rem !important;
	  }
	  .title2-landing h1 {
		font-size: 1rem !important;
	  }
	.list-menu-footer {
		justify-content: left;
		padding-top: 0;
	}
}
 

/******************************  
	Estilos para escritrio 
*******************************
@media (min-width: 992px) { }*/</style>
<!-- end Simple Custom CSS and JS -->
