<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Añade aquí tu código CSS.

Por ejemplo:
.ejemplo {
    color: red;
}

Para mejorar tu conocimiento sobre CSS knowledge echa un vistazo a http://www.w3schools.com/css/css_syntax.asp

Fin del comentario */ 

.row-modal-newsletter .title-wrapper{
	margin: 0 !important;
}

.row-modal-newsletter .cmApp_signupContainer{
	max-width: 100% !important;
}</style>
<!-- end Simple Custom CSS and JS -->
